.videoPlayer {
  width: 100%;
  height: 100%;
  background: black;
}

.videoContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.filmstripContainer {
  bottom: 0;
  position: absolute;
  width: 100%;
}
