<div class="videoContainer">
  <video
    *ngIf="video"
    [src]="this.httpfile"
    class="videoPlayer"
    #videoplayer
    (timeupdate)="this.seekBarUpdate()"
    (click)="this.playPauseVideo()"
  ></video>
  <!-- Video Controls -->
  <div id="video-controls">
    <button #playButton type="button" id="play-pause" (click)="this.playPauseVideo()">Play</button>
    <input #seekBar type="range" id="seek-bar" value="0" max="{{this.video.duration}}" step="1" (change)="this.seekBarChange()">
    {{this.currentTime | lengthPipe}}/{{this.video.duration | lengthPipe}}
    <button #muteButton type="button" id="mute" (click)="this.muteUnmuteVideo()">Mute</button>
    <input #volumeBar type="range" id="volume-bar" min="0" max="1" step="0.1" value="1" (change)="this.volumeChange()">
    <button type="button" id="full-screen" (click)="this.fullscreenVideo()">Full-Screen</button>
    <button type="button" id="sheet" (click)="this.sheetDisplay = true">Video Sheet</button>
  </div>
</div>
<app-thumbnail-sheet
    *ngIf="sheetDisplay"
    (openFileRequest)="openVideo($event.index, $event.seek)"
    (editFinalArrayTag)="editFinalArrayTag($event)"
    (editFinalArrayStars)="editFinalArrayStars($event)"
    (filterTag)="handleFileWordClicked($event.tag.name, $event.event)"


    [elHeight]="150"
    [elWidth]="150"
    [folderPath]="globals.selectedOutputFolder"
    [hubName]="globals.hubName"
    [imgHeight]="150"

    [video]="video"

    [star]="video.stars"

    [darkMode]="true"
    [hoverScrub]="true"
    [largerFont]="true"
    [randomImage]="true"
    [returnToFirstScreenshot]="true"
    [showMeta]="true"
    [showManualTags]="true"
    [showAutoFileTags]="true"
    [showAutoFolderTags]="true"
  >
  </app-thumbnail-sheet>
